@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --blue: #151E3F;
    --light-blue: #00A7E1;
    --dark-blue: #030027;
    --light-orange: #FAC9B8;
    --orange: #DB8A74;
    --brown: #403233;
    --light-green: #548C2F;
    --dark-green: #104911;
    --light-yellow: #FAF3DD;
    --red: #A4031F;
    --black: #0B0A07;
    --light-black: #242423;
    --dark-gray: #333533;
    --white: #F7F7FF;
    --strong-orange: #D74E09;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    width: 100%;
    height: 63px;
    background-color: var(--blue);
}

header .logo {
    height: 45px;
}

header .user-log-in {
    height: 63px;
}

header .user-log-in a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header .user-log-in-text {
    margin-top: -4.5px;
    margin-left: -2px;
    font-size: 11pt;
    margin-top: 3px;
    margin-right: 10px;
    color: var(--white);
}

header .logout-btn a {
    color: var(--white);
    font-size: 15pt;
    text-decoration: none;
}

footer {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--white);
}

.footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    color: var(--white);
}

.footer-content ul {
    display: flex;
    list-style: none;
}

.footer-content li {
    margin-left: 15px;
}

.footer-content a {
    color: var(--white);
    text-decoration: none;
}

footer hr {
    margin-top: 30px;
    margin-bottom: 5px;
}

footer h2 {
    text-align: center;
}

.credits a {
    color: var(--white);
}

main.index {
    height: calc(100vh - 63px);
    background-image: url(../assets/banner.jpg);
    background-size: cover;
}

main.index .banner-container {
    height: calc(100vh - 63px);
    padding: 5% 10%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

main.index .banner-navigation-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding: 0 20%;
}

main.index .banner-navigation-buttons a {
    background-color: var(--light-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 18pt;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--white);
    box-shadow: 0px 3px 5px #000000af;
}

main.index .banner-navigation-buttons a:focus {
    box-shadow: inset 0px 0px 5px #000000af;
}

main.user-form {
    height: calc(100vh - 63px);
    background-color: var(--dark-blue);
}

.user-form-container{
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 50px;
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: var(--light-orange);
    box-shadow: 0px 0px 100px var(--light-blue)80;
}

.user-form-container form {
    display: flex;
    flex-direction: column;
}

.user-form-container form label {
    font-weight: bold;
    font-size: 12pt;
}

.user-form-container form .user-form-input {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 11pt;
    background-color: var(--orange);
    border: 2px solid var(--brown);
}

.user-form-container form .submit-btn {
    width: 50%;
    margin: 20px auto 0 auto;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white);
    padding: 4px 8px;
    border-radius: 10px;
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    cursor: pointer;
}

.user-form-container form .submit-btn:focus {
    box-shadow: inset 0px 0px 5px var(--dark-green);
}

.user-form-container .form-redirect {
    margin-top: 30px;
}

.user-form-container .form-redirect p {
    text-align: center;
}

main.gallery {
    position: relative;
    min-height: calc(100vh - 63px);
}

main.gallery .search-bar-container {
    height: 150px;
}

.search-bar-container form {
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.search-bar-container .search-bar {
    width: 50%;
}

.search-bar-container form input {
    padding: 10px 20px;
    width: calc(100% - 100px);
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14pt;
    color: var(--white);
    background-color: var(--dark-gray);
}

.search-bar-container form button {
    margin-left: -6px;
    padding: 10px 20px;
    width: 100px;
    border: none;
    border-left: 2px solid var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14pt;
    color: var(--white);
    background-color: var(--dark-gray);
    cursor: pointer;
}

main.gallery .side-menu-container {
    padding: 40px 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 160px;
    height: calc(100% - 150px);
    background-color: var(--light-blue);
    border-top-right-radius: 5px;
}

.side-menu-container ul {
    list-style-type: none;
}

.side-menu-container li {
    margin-bottom: 25px;
}

.side-menu-container a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

.side-menu-container p {
    margin-left: 10px;
}

.main-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 170px;
}

.main-gallery-container .picture {
    background-color: var(--strong-orange);
    border-radius: 5px;
    margin: 15px;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.main-gallery-container .picture-front-layer {
    width: 100%;
    height: 100%;
    transition: 0.15s;
}

.main-gallery-container .picture-front-layer:hover {
    transform: translateY(-70px);
}

.main-gallery-container .picture-anchor {
    width: 100%;
    height: 100%;
}

.main-gallery-container .picture-info {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    width: 100%;
    height: 70px;
}

.picture-info .picture-author {
    font-weight: bold;
    line-height: 28px;
    margin: 5px;
}

.picture-info .picture-commands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.picture-info .picture-command {
    margin-bottom: -7px;
}

