<div class="side-menu-container">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="15" cy="15" r="15" fill="var(--white)"/>
                        <circle cx="15" cy="10" r="7" fill="var(--dark-blue)"/>
                        <mask id="mask0_0_1" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-3" y="19" width="37" height="15">
                        <ellipse cx="15.5" cy="26.5" rx="18.5" ry="7.5" fill="var(--dark-blue)"/>
                        </mask>
                        <g mask="url(#mask0_0_1)">
                        <circle cx="15" cy="15" r="15" fill="var(--dark-blue)"/>
                        </g>
                        <circle cx="15" cy="15" r="14.5" stroke="var(--white)"/>
                    </svg>
                    <p>Meu perfil</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.6561 0.353554C14.8513 0.158291 15.1679 0.158291 15.3632 0.353553L29.1561 14.1464C29.471 14.4614 29.248 15 28.8025 15H1.21672C0.771267 15 0.548184 14.4614 0.863166 14.1464L14.6561 0.353554Z" fill="var(--white)"/>
                        <path d="M8.08141 11.5C8.08141 11.2239 8.30527 11 8.58141 11H21.4378C21.714 11 21.9378 11.2239 21.9378 11.5V29.5C21.9378 29.7761 21.714 30 21.4378 30H8.58141C8.30527 30 8.08141 29.7761 8.08141 29.5V11.5Z" fill="var(--white)"/>
                    </svg>
                    <p>Upload</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="26" height="25" rx="2" fill="#B3B4B3"/>
                        <rect x="4" y="5" width="26" height="25" rx="2" fill="var(--white)"/>
                    </svg>
                    <p>Album</p>
                </a>
            </li>
        </ul>
    </nav>
</div>